<div id="<%= dom_id job_posting %>">
  <p>
    <strong>Title:</strong>
    <%= job_posting.title %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= job_posting.company %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= job_posting.salary %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= job_posting.location %>
  </p>

</div>
